<div fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card>
      <mat-form-field appearance="outline" style="margin-left: 20px">
        <mat-label>Period</mat-label>
        <mat-select [(ngModel)]="selectedPeriod" name="period" (selectionChange)="onPeriodChange()">
          <mat-option *ngFor="let period of periods" [value]="period.value">
            {{period.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" [ngStyle]="isHidden()" style="margin-left: 20px">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker" [formGroup]="range">
          <input matStartDate formControlName="start">
          <input matEndDate formControlName="end">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker touchUi #picker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel (click)="cancelCustomPeriod()">Cancel</button>
            <button mat-raised-button color="primary" matDateRangePickerApply (click)="createCustomPeriod()">Apply</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>
    </mat-card>
  </div>
  <div *ngIf="data.length > 0; else elseBlock">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <mat-card style="width: 100%">
        <highcharts-chart
          [Highcharts]="highcharts"
          [options]="chartOptionsAreaSpline"
          style="width: 100%; height: 400px; display: block;"
        ></highcharts-chart>
      </mat-card>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center" style="margin-top: 20px">
      <mat-card>
        <highcharts-chart
          [Highcharts]="highcharts"
          [options]="chartOptionsPieExpenses"
          style="width: 100%; height: 400px; display: block;"
        ></highcharts-chart>
      </mat-card>

      <mat-card>
        <highcharts-chart
          [Highcharts]="highcharts"
          [options]="chartOptionsPieIncome"
          style="width: 100%; height: 400px; display: block;"
        ></highcharts-chart>
      </mat-card>
    </div>
  </div>
  <ng-template #elseBlock>
    <app-page-not-found></app-page-not-found>
  </ng-template>
</div>
